<html lang='ru'>
<head>
  <title>Наука и время/Архив</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Keywords" content="опубликовать статью, публикация статей, публикация статьи, публикация научных статей,
     публикация научной статьи, публикация РИНЦ, публикация в журнале, публикация научной статьи в журнале, публикация срочно,
     быстрая публикация, статья РИНЦ, статья elibrary, статья елайбрари">
  <meta name="description" content="Приглашаем к публикации статей в международном журнале! Быстро! Недорого!">
  <link rel='stylesheet' href='/static/science.css'>
  <link rel="icon" href="/static/images/icon.png" type="image/png">
  <style>
  .archive__block .img{
    background-image: url(/static/images/header.jpg);
  }
  </style>
</head>
<body>
  <header class="inside-header">
      <!-- Бургер меню -->
      <button class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    <div class="lower-menu flex">
      <nav>
        <ul class="nav flex">
            <li class="logo"><a href="/" class="flex">
              <p>наука</p>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 516.303 516.303" xml:space="preserve" width="auto" height="44px">
              		<path d="M258.151,273.651c-3.207,0-6.414-1.069-9.621-3.207c-4.276-3.207-117.584-88.723-117.584-198.825    c0-8.552,7.483-16.034,16.034-16.034h222.342c8.552,0,16.034,7.483,16.034,16.034c0,110.102-113.309,195.618-117.584,199.894    C264.565,272.582,261.358,273.651,258.151,273.651z M164.084,87.654c8.552,69.482,70.551,129.343,94.068,149.653    c24.586-20.31,85.516-80.171,94.068-149.653C352.219,87.654,164.084,87.654,164.084,87.654z" fill="#FFFFFF"/>
              		<path d="M369.322,32.068H146.981c-8.552,0-16.034-7.483-16.034-16.034S138.429,0,146.981,0h222.342    c8.552,0,16.034,7.483,16.034,16.034S377.874,32.068,369.322,32.068z" fill="#FFFFFF"/>
              		<path d="M369.322,460.717H146.981c-8.552,0-16.034-7.483-16.034-16.034    c0-110.102,113.309-195.618,117.584-199.894c5.345-4.276,13.896-4.276,19.241,0c4.276,3.207,117.584,89.792,117.584,199.894    C385.356,453.235,377.874,460.717,369.322,460.717z M164.084,428.649h189.204c-8.552-69.482-70.551-129.343-94.068-149.653    C233.566,299.306,172.635,359.167,164.084,428.649z" fill="#FFFFFF"/>
              		<path d="M369.322,516.303H146.981c-8.552,0-16.034-7.483-16.034-16.034s7.483-16.034,16.034-16.034h222.342    c8.552,0,16.034,7.483,16.034,16.034S377.874,516.303,369.322,516.303z" fill="#FFFFFF"/>
              		<path d="M258.151,308.926c0,0-60.93,44.896-60.93,101.55h120.791    C319.081,354.891,258.151,308.926,258.151,308.926z" fill="#FFFFFF"/>
              		<path d="M258.151,214.859c0,0,29.931-22.448,29.931-50.241h-59.861    C228.221,192.411,258.151,214.859,258.151,214.859z" fill="#FFFFFF"/>
              </svg>
                <p>время</p>
              </a></li>
          <li><a href="/#about-journal" data-hover="О журнале">О журнале</a></li>
          <li><a href="/archive/{{ last_number_pk|safe }}/" data-hover="Текущий номер">Текущий номер</a></li>
          <li><a href="/archive/" data-hover="Архив номеров">Архив номеров</a></li>
          <li><a href="/demands/" data-hover="Порядок публикации">Порядок публикации</a></li>
          <li><a href="/payment/" data-hover="Оплата">Оплата</a></li>
        </ul>
      </nav>
  </header>
  <main class="archive">

  <ul class="flex border-bottom right upper-menu container">
    <li><a href="mailto:info@nauka-journal.ru ">info@nauka-journal.ru </a></li>
    <li class="vk"><a href="https://m.vk.com/club164213221"></a></li>
  </ul>
  <h2 class="right">Архив</h2>
    <section class="year right">
        {% for m in magazines %}
            {% if m.1 %}
                <h4>{{ m.0 }}</h4>
                <div class="flex">
                    {% for mn in m.1 %}
                        <a href="/archive/{{ mn.number }}" class="archive__block">
                            <div class="img" style="background-image: url({{ mn.image.url }})"></div>
                            <p>Номер {{ mn.number }}, {{ mn.get_nice_mouth }} {{ mn.year }}</p>
                            <p href="/archive/{{ mn.number }}">Читать статьи</p>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="green right"></section>
    <section class="made-by right">
      <a href="https://vk.com/polina9369" target="_blank" rel="noreferrer">Made by pinpol 2018</a>
    </section>
  </main>
  <script src="/static/mobileMenu.js"></script>
</body>
</html>
